.gallery {
  padding: 10vh;
  min-height: 100vh;
  background-color: #eeeeeb;
  h2 {
    font-size: 35px;
  }
}
.filter-bloc {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  .filter {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    color: #909090;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
  }
  p {
    margin: 0;
  }
  span {
    font-size: 16px;
    margin-right: 5px;
  }
  .filter.active {
    border-radius: 40px;
    color: white;
    background-color: rgba(12, 52, 23, 0.44);
  }
}
.product-ctr {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
