<div class="gallery">
  <h2>Nos créations</h2>
  <div class="filter-bloc">
    <!-- filter all -->
    <div class="filter" [ngClass]="selectedCategoryIds.length === 0 ? 'active' : ''" (click)="handleAllClick()">
      <ng-container *ngIf="selectedCategoryIds.length === 0; else allNotchecked">
        <i class="pi pi-times mr-1"></i>
      </ng-container>
      <ng-template #allNotchecked>
        <i class="pi pi-check mr-1"></i>
      </ng-template>
      <p>all</p>
    </div>
    <!-- category filter -->
    <ng-container *ngFor="let category of categories">
      <div class="filter" [ngClass]="isTagSelected(category.id)? 'active' : ''" (click)="handleTagClick(category.id)">
        <ng-container *ngIf="isTagSelected(category.id); else checked">
          <i class="pi pi-check mr-1"></i>
        </ng-container>
        <ng-template #checked>
          <i class="pi pi-times mr-1"></i>
        </ng-template>
        <p>{{ category.name }}</p>
      </div>
    </ng-container>
  </div>
  <div class="product-ctr">
    <ng-container *ngFor="let product of products">
      <app-product-card *ngIf="showItem(product.categories)" [product]="product">
      </app-product-card>
    </ng-container>
  </div>
</div>
