:host::ng-deep {
  .swiper-button-prev, .swiper-button-next {
    color: #849994;
  }
  .swiper-pagination-bullet-active {
    background-color: #849994;
  }
}
.slide {
  padding: 15vh 0;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-text {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 20px 20px 10vw;
  width: fit-content;
  h2, p {
    margin: 5px 0;
  }
}
