<div class="carousel-container">
  <swiper
    [slidesPerView]="1"
    [centeredSlides]="true"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [pagination]="true"
    [navigation]="true"
    [spaceBetween]="0"
    [loop]="true"
  >
    <ng-template swiperSlide *ngFor="let screen of screens">
      <div class="slide" style="background-image: url('assets/images/{{ screen.pictureName }}')">
        <div class="card-text">
          <h2>
            {{ screen.title }}
          </h2>
          <p>
            {{ screen.baseline }}
          </p>
          <div *ngIf="screen.link != ''" class="flex flex-row justify-content-center">
            <button pButton pRipple type="button" [label]="screen.linkText" class="p-button-rounded mt-3" [routerLink]="screen.link"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>

</div>
