.menu-ctr {
  position: absolute;
  z-index: 2;
  border-radius: 500px;
  padding: 100px;
  background-color: #849994;
  top: -210px;
  left: -210px;
  transition: all ease 0.5s;
  &:hover {
    top: -80px;
    left: -80px;
  }
}
.menu-item {
  width: 100%;
  text-align: right;
  margin: 6px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #f4f3ef;
  &:hover {
    color: #c4c4b8;
  }
}
