<div class="menu-ctr" >
  <p class="menu-item" [routerLink]="['home']" >
    home <
  </p>
  <p class="menu-item" [routerLink]="['products']" >
    products <
  </p>
  <p class="menu-item" [routerLink]="['my-account']" >
    mon compte <
  </p>
  <p class="menu-item" [routerLink]="['contact']" >
    contact <
  </p>
</div>
