<div class="flex align-items-center justify-content-center mt-8">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <span class="text-600 font-medium line-height-3">Vous n'avez pas encore de compte ?</span>
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/register">Créer un compte !</a>
    </div>

    <div>
      <label for="email" class="block text-900 font-medium mb-2">Email</label>
      <input id="email" type="text" pInputText class="w-full mb-3" [(ngModel)]="userCredential.identifier">

      <label for="password" class="block text-900 font-medium mb-2">Mot de passe</label>
      <input id="password" type="password" pInputText class="w-full mb-3" [(ngModel)]="userCredential.password">

      <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full" (click)="logUser()"></button>
    </div>
  </div>
</div>
